{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
      {
        "files": ["*.ts", "*.mts"],
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.json",
        "options": {
          "tabWidth": 4
        }
      }
    ]
  }